## Standard Regular Season Statistics

This notebook is where I created the regular seasson statistics as well as the offensive/defensive efficiency numbers

In [1]:
import pandas as pd

regSeason = pd.read_csv("../raw data/RegularSeasonDetailedResults.csv")

In [2]:
print len(regSeason)
print len(regSeason.columns)

71241
34

In [3]:
regSeason.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [4]:
print regSeason.columns

Index([u'Season', u'Daynum', u'Wteam', u'Wscore', u'Lteam', u'Lscore', u'Wloc',
       u'Numot', u'Wfgm', u'Wfga', u'Wfgm3', u'Wfga3', u'Wftm', u'Wfta',
       u'Wor', u'Wdr', u'Wast', u'Wto', u'Wstl', u'Wblk', u'Wpf', u'Lfgm',
       u'Lfga', u'Lfgm3', u'Lfga3', u'Lftm', u'Lfta', u'Lor', u'Ldr', u'Last',
       u'Lto', u'Lstl', u'Lblk', u'Lpf'],
      dtype='object')

In [5]:
#create two data frames: one for winning teams one for losing teams. Also add in the opposing team stats

wTeams = regSeason[['Season','Wteam','Daynum','Wscore','Numot','Wfgm','Wfga','Wfgm3',
                    'Wfga3','Wftm','Wfta','Wor','Wdr','Wast','Wto','Wstl','Wblk','Wpf',
                    'Lscore','Lfgm','Lfga','Lfgm3','Lfga3','Lftm','Lfta','Lor','Ldr',
                    'Last','Lto','Lstl','Lblk','Lpf']]



lTeams = regSeason[['Season','Lteam','Daynum','Lscore','Numot','Lfgm','Lfga','Lfgm3',
                    'Lfga3','Lftm','Lfta','Lor','Ldr','Last','Lto','Lstl','Lblk','Lpf',
                    'Wscore','Wfgm','Wfga','Wfgm3','Wfga3','Wftm','Wfta','Wor','Wdr',
                    'Wast','Wto','Wstl','Wblk','Wpf']]

In [6]:
wTeams['win'] = 1

wTeams.head()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Season,Wteam,Daynum,Wscore,Numot,Wfgm,Wfga,Wfgm3,Wfga3,Wftm,...,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf,win
0,2003,1104,10,68,0,27,58,3,14,11,...,16,22,10,22,8,18,9,2,20,1
1,2003,1272,10,70,0,26,62,8,20,10,...,9,20,20,25,7,12,8,6,16,1
2,2003,1266,11,73,0,24,58,8,18,17,...,14,23,31,22,9,12,2,5,23,1
3,2003,1296,11,56,0,18,38,3,9,17,...,8,15,17,20,9,19,4,3,23,1
4,2003,1400,11,77,0,30,61,6,14,11,...,17,27,21,15,12,10,7,1,14,1

In [7]:
lTeams['win'] = 0

lTeams.head()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Season,Lteam,Daynum,Lscore,Numot,Lfgm,Lfga,Lfgm3,Lfga3,Lftm,...,Wftm,Wfta,Wor,Wdr,Wast,Wto,Wstl,Wblk,Wpf,win
0,2003,1328,10,62,0,22,53,2,10,16,...,11,18,14,24,13,23,7,1,22,0
1,2003,1393,10,63,0,24,67,6,24,9,...,10,19,15,28,16,13,4,4,18,0
2,2003,1437,11,61,0,22,73,3,26,14,...,17,29,17,26,15,10,5,2,25,0
3,2003,1457,11,50,0,18,49,6,22,8,...,17,31,6,19,11,12,14,2,18,0
4,2003,1208,11,71,0,24,62,6,16,17,...,11,13,17,22,12,14,4,4,20,0

In [8]:
wTeams.columns = ['season','team','daynum','score','numot','fgm','fga','fgm3',
                  'fga3','ftm','fta','or','dr','ast','to','stl','blk','pf',
                  'opp_score','opp_fgm','opp_fga','opp_fgm3','opp_fga3','opp_ftm',
                  'opp_fta','opp_or','opp_dr','opp_ast','opp_to','opp_stl',
                  'opp_blk', 'opp_pf', 'win']

lTeams.columns = ['season','team','daynum','score','numot','fgm','fga','fgm3',
                  'fga3','ftm','fta','or','dr','ast','to','stl','blk','pf',
                  'opp_score','opp_fgm','opp_fga','opp_fgm3','opp_fga3','opp_ftm',
                  'opp_fta','opp_or','opp_dr','opp_ast','opp_to','opp_stl',
                  'opp_blk', 'opp_pf', 'win']

In [9]:
regularSeason = wTeams.append(lTeams)

In [10]:
regularSeason.head()

,season,team,daynum,score,numot,fgm,fga,fgm3,fga3,ftm,...,opp_ftm,opp_fta,opp_or,opp_dr,opp_ast,opp_to,opp_stl,opp_blk,opp_pf,win
0,2003,1104,10,68,0,27,58,3,14,11,...,16,22,10,22,8,18,9,2,20,1
1,2003,1272,10,70,0,26,62,8,20,10,...,9,20,20,25,7,12,8,6,16,1
2,2003,1266,11,73,0,24,58,8,18,17,...,14,23,31,22,9,12,2,5,23,1
3,2003,1296,11,56,0,18,38,3,9,17,...,8,15,17,20,9,19,4,3,23,1
4,2003,1400,11,77,0,30,61,6,14,11,...,17,27,21,15,12,10,7,1,14,1

In [11]:
import numpy as np

seasonLongStats = regularSeason.groupby(['season','team'], as_index = False).agg({'fgm':sum, 'fga': sum,
                                                                'fgm3':sum, 'fga3': sum,
                                                                'ftm':sum, 'fta': sum,
                                                                'or': np.mean, 'dr': np.mean,
                                                                'ast': np.mean, 'to': np.mean,
                                                                'stl': np.mean, 'blk': np.mean,
                                                                'pf': np.mean, 'score': np.mean,
                                                                'opp_fgm':sum, 'opp_fga': sum,
                                                                'opp_fgm3':sum, 'opp_fga3': sum,
                                                                'opp_ftm':sum, 'opp_fta': sum,
                                                                'opp_or': np.mean, 'opp_dr': np.mean,
                                                                'opp_ast': np.mean, 'opp_to': np.mean,
                                                                'opp_stl': np.mean, 'opp_blk': np.mean,
                                                                'opp_pf': np.mean, 'opp_score': np.mean})

In [12]:
seasonLongStats.head()

,season,team,opp_to,opp_score,opp_or,opp_fgm,fga3,fta,to,opp_stl,...,dr,fga,opp_fga3,opp_blk,stl,opp_pf,opp_fta,opp_fgm3,or,opp_ftm
0,2003,1102,12.964286,57.000000,9.607143,540,583,479,11.428571,5.428571,...,16.821429,1114,348,1.571429,5.964286,18.357143,539,133,4.178571,383
1,2003,1103,15.333333,78.148148,12.037037,750,434,698,12.629630,6.407407,...,19.925926,1508,496,2.851852,7.259259,22.444444,598,180,9.777778,430
2,2003,1104,13.857143,65.000000,10.892857,651,556,586,13.285714,5.535714,...,23.928571,1601,536,3.178571,6.607143,19.250000,480,178,13.571429,340
3,2003,1105,18.807692,76.653846,13.192308,702,540,568,18.653846,9.384615,...,23.115385,1602,456,4.192308,9.307692,19.076923,637,163,13.500000,426
4,2003,1106,15.071429,63.750000,11.321429,608,494,461,17.035714,8.785714,...,23.857143,1548,426,3.178571,8.357143,16.142857,615,134,12.285714,435

In [13]:
seasonLongStats['fgp'] = seasonLongStats['fgm'] / seasonLongStats['fga']
seasonLongStats['fg3p'] = seasonLongStats['fgm3'] / seasonLongStats['fga3']
seasonLongStats['ftp'] = seasonLongStats['ftm'] / seasonLongStats['fta']

seasonLongStats['opp_fgp'] = seasonLongStats['opp_fgm'] / seasonLongStats['opp_fga']
seasonLongStats['opp_fg3p'] = seasonLongStats['opp_fgm3'] / seasonLongStats['opp_fga3']
seasonLongStats['opp_ftp'] = seasonLongStats['opp_ftm'] / seasonLongStats['opp_fta']

In [14]:
seasonLongStats.drop(['fgm', 'fga', 'fgm3', 'fga3', 'ftm', 'fta',
                     'opp_fgm', 'opp_fga', 'opp_fgm3', 'opp_fga3', 'opp_ftm', 'opp_fta'], axis = 1, inplace = True)

In [15]:
print seasonLongStats.columns

Index([u'season', u'team', u'opp_to', u'opp_score', u'opp_or', u'to',
       u'opp_stl', u'score', u'pf', u'blk', u'ast', u'opp_ast', u'opp_dr',
       u'dr', u'opp_blk', u'stl', u'opp_pf', u'or', u'fgp', u'fg3p', u'ftp',
       u'opp_fgp', u'opp_fg3p', u'opp_ftp'],
      dtype='object')

In [16]:
seasonLongStats.columns = ['season', 'team', 'opp_toAvg', 'opp_scoreAvg', 'opp_orAvg', 'toAvg', 'opp_stlAvg',
                           'scoreAvg', 'pfAvg', 'blkAvg', 'astAvg', 'opp_astAvg', 'opp_drAvg', 'drAvg', 'opp_blkAvg',
                           'stlAvg', 'opp_pfAvg', 'orAvg', 'fgp', 'fg3p', 'ftp', 'opp_fgp', 'opp_fg3p', 'opp_ftp']

In [17]:
seasonLongStats.head()

,season,team,opp_toAvg,opp_scoreAvg,opp_orAvg,toAvg,opp_stlAvg,scoreAvg,pfAvg,blkAvg,...,opp_blkAvg,stlAvg,opp_pfAvg,orAvg,fgp,fg3p,ftp,opp_fgp,opp_fg3p,opp_ftp
0,2003,1102,12.964286,57.000000,9.607143,11.428571,5.428571,57.250000,18.750000,1.785714,...,1.571429,5.964286,18.357143,4.178571,0.481149,0.375643,0.651357,0.454545,0.382184,0.710575
1,2003,1103,15.333333,78.148148,12.037037,12.629630,6.407407,78.777778,19.851852,2.333333,...,2.851852,7.259259,22.444444,9.777778,0.486074,0.338710,0.736390,0.487329,0.362903,0.719064
2,2003,1104,13.857143,65.000000,10.892857,13.285714,5.535714,69.285714,18.035714,3.785714,...,3.178571,6.607143,19.250000,13.571429,0.420362,0.320144,0.709898,0.418919,0.332090,0.708333
3,2003,1105,18.807692,76.653846,13.192308,18.653846,9.384615,71.769231,20.230769,2.076923,...,4.192308,9.307692,19.076923,13.500000,0.395755,0.364815,0.705986,0.457926,0.357456,0.668760
4,2003,1106,15.071429,63.750000,11.321429,17.035714,8.785714,63.607143,18.178571,3.142857,...,3.178571,8.357143,16.142857,12.285714,0.423773,0.346154,0.646421,0.406689,0.314554,0.707317

## Offensive Ratings

100 x Pts / 0.5 * ((Tm FGA + 0.4 * Tm FTA - 1.07 * (Tm ORB / (Tm ORB + Opp DRB)) * (Tm FGA - Tm FG) + Tm TOV) + (Opp FGA + 0.4 * Opp FTA - 1.07 * (Opp ORB / (Opp ORB + Tm DRB)) * (Opp FGA - Opp FG) + Opp TOV))[1]

In [18]:
print regularSeason.columns

Index([u'season', u'team', u'daynum', u'score', u'numot', u'fgm', u'fga',
       u'fgm3', u'fga3', u'ftm', u'fta', u'or', u'dr', u'ast', u'to', u'stl',
       u'blk', u'pf', u'opp_score', u'opp_fgm', u'opp_fga', u'opp_fgm3',
       u'opp_fga3', u'opp_ftm', u'opp_fta', u'opp_or', u'opp_dr', u'opp_ast',
       u'opp_to', u'opp_stl', u'opp_blk', u'opp_pf', u'win'],
      dtype='object')

In [19]:
efficiencyStats = regularSeason.groupby(['season','team'], as_index = False).agg({'score':sum, 'fga': sum,
                                                                                  'fta':sum, 'or': sum,
                                                                                  'opp_dr': sum, 'fgm': sum,
                                                                                  'to': sum,
                                                                                  'opp_fga': sum, 'opp_fta': sum,
                                                                                  'opp_or': sum, 'dr': sum,
                                                                                  'opp_fgm':sum, 'opp_to': sum,
                                                                                  'opp_score': sum})

In [20]:
efficiencyStats['OffRating'] = (100. * efficiencyStats['score']) / (0.5 * ((efficiencyStats['fga'] + 0.4 * efficiencyStats['fta'] - 1.07 * (efficiencyStats['or'] / (efficiencyStats['or'] + efficiencyStats['opp_dr'])) * (efficiencyStats['fga'] - efficiencyStats['fgm']) + efficiencyStats['to']) + (efficiencyStats['opp_fga'] + 0.4 * efficiencyStats['opp_fta'] - 1.07 * (efficiencyStats['opp_or'] / (efficiencyStats['opp_or'] + efficiencyStats['dr'])) * (efficiencyStats['opp_fga'] - efficiencyStats['opp_fgm']) + efficiencyStats['opp_to'])))

In [21]:
efficiencyStats['DefRating'] = (efficiencyStats['opp_score'] / (efficiencyStats['opp_fga'] + 0.475 * efficiencyStats['opp_fta'] - efficiencyStats['opp_or'] + efficiencyStats['opp_to']))*100.

In [22]:
efficiencyStats.tail()

,season,team,opp_fgm,opp_fga,fgm,opp_to,opp_dr,dr,fga,opp_or,opp_score,fta,to,opp_fta,score,or,OffRating,DefRating
4774,2016,1460,716,1672,802,462,882,811,1804,277,2201,595,371,808,2265,208,102.833547,98.223849
4775,2016,1461,743,1704,659,317,783,743,1511,325,2173,693,342,666,2110,173,107.114276,107.983204
4776,2016,1462,787,1894,876,452,753,894,1938,319,2273,832,408,651,2603,418,113.964981,97.293711
4777,2016,1463,603,1478,707,331,564,724,1513,229,1715,636,364,500,2011,364,112.435937,94.360385
4778,2016,1464,938,1980,809,355,894,742,1902,380,2569,566,352,643,2269,263,102.457642,113.651194

In [23]:
seasonLongStats = pd.merge(seasonLongStats, efficiencyStats[['season','team', 'OffRating','DefRating']],  how='left',
              left_on=['season','team'], right_on = ['season','team'])

In [24]:
seasonLongStats.head()

,season,team,opp_toAvg,opp_scoreAvg,opp_orAvg,toAvg,opp_stlAvg,scoreAvg,pfAvg,blkAvg,...,opp_pfAvg,orAvg,fgp,fg3p,ftp,opp_fgp,opp_fg3p,opp_ftp,OffRating,DefRating
0,2003,1102,12.964286,57.000000,9.607143,11.428571,5.428571,57.250000,18.750000,1.785714,...,18.357143,4.178571,0.481149,0.375643,0.651357,0.454545,0.382184,0.710575,105.672601,103.769445
1,2003,1103,15.333333,78.148148,12.037037,12.629630,6.407407,78.777778,19.851852,2.333333,...,22.444444,9.777778,0.486074,0.338710,0.736390,0.487329,0.362903,0.719064,113.512289,110.352763
2,2003,1104,13.857143,65.000000,10.892857,13.285714,5.535714,69.285714,18.035714,3.785714,...,19.250000,13.571429,0.420362,0.320144,0.709898,0.418919,0.332090,0.708333,105.807567,97.587131
3,2003,1105,18.807692,76.653846,13.192308,18.653846,9.384615,71.769231,20.230769,2.076923,...,19.076923,13.500000,0.395755,0.364815,0.705986,0.457926,0.357456,0.668760,95.268678,100.576562
4,2003,1106,15.071429,63.750000,11.321429,17.035714,8.785714,63.607143,18.178571,3.142857,...,16.142857,12.285714,0.423773,0.346154,0.646421,0.406689,0.314554,0.707317,95.535038,94.338376

In [ ]:
seasonLongStats.to_csv("../derived data/seasonLongStats.csv")